.question-box {
    // border: 2px solid #d7d8da;
    border-radius: 10px;
    margin: 15px;
    padding-bottom: 20px;
}
.question-text {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 300;
}
.item-radio-checked{
    background-color: #a0a;
}

.logo-box {
    text-align: center;
    margin-top: 15%;
    // margin-bottom: 15%;
  }
  
  .logo {
    max-width: 60%;
  }
  
  @media only screen  and (min-width : 1224px) {
    /* Styles */
    .logo-box {
      text-align: center;
      margin-top: 5%;
      margin-bottom: 2%;
    }
    
    .logo {
      max-width: 20%;
    }
    }