<ion-header>
  <ion-toolbar>
    <ion-title>Sharing</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="logo-box">
    <img class="logo" src="assets/icons/Logo.png">
  </div>

  <div id="container">
    <ion-card>

      <ion-card-header>
        <ion-card-subtitle class="subtitle">Welcome To</ion-card-subtitle>
        <ion-card-title>Yardstix <sup>MVP</sup></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Please add the recipients emails below to start your peer feedback request
      </ion-card-content>
      <ion-row>
        <ion-col>
          <tag-input size="50" [(ngModel)]="emails" secondaryPlaceholder="Enter email to invite" placeholder="Enter email to invite" #useremail="ngModel" (onSelect)="onAdd($event)"></tag-input>

          <div *ngIf="useremail.invalid && (useremail.dirty || useremail.touched)" class="alert alert-danger">
            <div *ngIf="useremail.errors.required" class="color">
              Email is required.
            </div>
            <div *ngIf="useremail.errors.email" class="danger">
              Please provide correct email address.
            </div>
          </div>

          <ion-button class="" expand="block" color="green" (click)="sendFeedbackRequest()">Submit</ion-button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

</ion-content>