<ion-content>


	<!-- Home -->
	<div id="home" data-uk-scrollspy="cls:uk-animation-fade" class="padding-top-150px padding-bottom-150px">

		<!-- Container -->
		<div class="container xs-container-spread">

			<!-- Row -->
			<div class="row">


				<!-- Column -->
				<div class="col-lg-6 col-md-12 col-xs-12 center-col text-left md-text-center uk-flex-middle">

					<div>
						<!-- Logo Image -->
						<a class="uk-logo text-gray-dark text-weight-800 manrope" style="font-size: 1.5rem;" href="#" data-uk-scroll>Yardstix
							<sup>MVP</sup></a>
						<!-- Titles -->
						<h2 class="text-weight-800 title-main text-gray-extra-dark ">Want peer-to-peer feedback?</h2>

						<!-- Subtitles -->
						<h6 class="text-green text-weight-600">Welcome to Yardstix.</h6>
						<p>Your free peer-to-peer survey partner. </p>
						<!-- End Titles -->


						<a class="btn btn-large btn-green sm-display-table no-margin-bottom md-margin-left-right-auto"
            [routerLink]="['/register']">Start Now</a>

					</div>

				</div>
				<!-- End Column -->

				<!-- Column -->
				<div class="col-lg-5 col-md-12 col-xs-12 center-col text-left md-text-center md-margin-top-75px">

					<!-- Image -->
					<img src="assets/images/backgrounds/hero.png" alt="" />

				</div>
				<!-- End Column -->


			</div>
			<!-- End Row -->

		</div>
		<!-- End Container -->

	</div>
	<!-- End Home -->



	<!-- How it Works -->
	<div id="step1" class="padding-top-bottom-100px bg-gray-transparent">
		<!-- Container -->
		<div class="container xs-container-spread">

			<!-- Row -->
			<div class="row">

				<!-- Section Title -->
				<div class="col-md-6 col-sm-12 col-xs-12 center-col text-center margin-auto">

					<div>

						<!-- Titles -->
						<h2 class="text-weight-800 title-small text-gray-extra-dark">How it works</h2>

					</div>

					<p>Engage peers and colleagues for anonymous feedback using our simple interface. </p>

				</div>
				<!-- End Section Title -->

			</div>
			<!-- End Row -->

		</div>
		<!-- End Container -->

		<!-- Container -->
		<div class="container xs-container-spread">


      				<!-- Row -->
				<div class="row">

					<!-- Section Title -->
					<div
						class="col-md-5 col-sm-12 col-xs-12 center-col text-left md-text-center padding-top-fifteen-percent">

						<div>


							<!-- Titles -->
							<h2 class="text-weight-800 title-small text-gray-extra-dark text-capitalize">1.</h2>

						</div>

						<h6 class="text-green text-weight-600">Receive & accept a request to provide feedback.</h6>

						<p>Individuals you invite to give feedback can accept or reject your invitation. How peers have
							responded to your questions is not shared with you, to protect the integrity of the feedback
							provided.</p>

					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 center-col text-center uk-flex uk-flex-middle">

						<!-- Image -->
						<img src="assets/images/backgrounds/accept2.png" alt="" />

					</div>

				</div>
				<!-- End Row -->

		</div>
		<!-- End Container -->

	</div>
	<!--How it Works-->


	<!-- Step2 -->
	<div id="step2" class="padding-bottom-100px">

		<!-- Container -->
		<div class="container xs-container-spread">

				<!-- Row -->
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12 center-col  text-center uk-flex uk-flex-middle">

						<!-- Image -->
						<img src="assets/images/backgrounds/questions.png" alt="" />

					</div>

					<!-- Section Title -->
					<div
						class="col-md-5 col-sm-12 col-xs-12 center-col text-left md-text-center padding-top-fifteen-percent">

						<div>


							<!-- Titles -->
							<h2 class="text-weight-800 title-small text-gray-extra-dark text-capitalize">2.</h2>

						</div>

						<h6 class="text-green text-weight-600">Complete 12 survey questions & submit to proceed.</h6>

						<p>In our MVP these questions are pre-set to provide feedback against the most commonly asked
							questions from our research. Later releases will allow you more flexibility and bespoke
							question setting.</p>

					</div>

				</div>
				<!-- End Row -->

		</div>
		<!-- End Container -->

	</div>
	<!-- End step2 -->


	<!-- Step3 -->
	<div id="step3" class="padding-bottom-100px bg-gray-transparent">

		<!-- Container -->
		<div class="container xs-container-spread">

      				<!-- Row -->
				<div class="row">

					<div
						class="col-md-5 col-sm-12 col-xs-12 center-col text-left md-text-center padding-top-fifteen-percent">

						<div>


							<!-- Titles -->
							<h2 class="text-weight-800 title-small text-gray-extra-dark text-capitalize">3.</h2>

						</div>

						<h6 class="text-green text-extra-large text-weight-500">Would you like to create your own
							survey?</h6>
						<h6 class="text-green text-weight-600">Sign up for free with Yardstix and begin.</h6>

						<p>Having been asked for feedback you are invited to sign up and start your own development
							journey using a peer group of your choosing.</p>
						<a class="btn btn-large btn-green sm-display-table no-margin-bottom sm-margin-left-right-auto"
						[routerLink]="['/register']">Sign Up</a>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 center-col  text-center uk-flex uk-flex-middle">

						<!-- Image -->
						<img src="assets/images/backgrounds/LoginSignup.png" alt="" />

					</div>

				</div>
				<!-- End Row -->

		</div>
		<!-- End Container -->

	</div>
	<!-- End step3 -->


	<!-- Step4 -->
	<div id="step3" class="padding-bottom-100px ">

		<!-- Container -->
		<div class="container xs-container-spread">

      				<!-- Row -->
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12 center-col  text-center uk-flex uk-flex-middle">

						<!-- Image -->
						<img src="assets/images/backgrounds/emails.png" alt="" />

					</div>

					<div
						class="col-md-5 col-sm-12 col-xs-12 center-col text-left md-text-center padding-top-fifteen-percent">

						<div>


							<!-- Titles -->
							<h2 class="text-weight-800 title-small text-gray-extra-dark text-capitalize">4.</h2>

						</div>

						<h6 class="text-green text-weight-600">Select peers and colleagues whose opinions you value.
						</h6>

						<p>Add their emails, send and wait for their feedback. You can see your results in your
							personalised dashboard.</p>

					</div>


				</div>
				<!-- End Row -->

		</div>
		<!-- End Container -->

	</div>
	<!-- End step4 -->


	<!-- Register -->
	<div id="register" class="image-bg-4 overlay-white padding-top-bottom-150px">


		<!-- Container -->
		<div class="container sm-container-spread">

			<!-- Row -->
			<div class="row">

				<!-- Section Title -->
				<div class="col-md-8 col-sm-12 col-xs-12 center-col text-center margin-auto">

					<div>

						<!-- Titles -->
						<h2 class="text-weight-800 title-medium text-gray-extra-dark">Your peer-to-peer feedback
							platform.</h2>


					</div>

					<h6 class="text-green text-weight-600">Start your development journey with Yardstix.</h6>

					<p>Simple, quick and anonymous feedback straight to your mobile. <br> What are you waiting for?</p>

					<a class="btn btn-large btn-green sm-display-table no-margin-bottom sm-margin-left-right-auto"
          [routerLink]="['/register']">Sign Up</a>


				</div>
				<!-- End Section Title -->

			</div>
			<!-- End Row -->

		</div>
		<!-- End Container -->


	</div>
	<!-- End Register -->



</ion-content>
