#container {
  text-align: center;

  // position: absolute;
  left: 0;
  right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.subtitle {
  text-transform: lowercase;
}    

.bottom-space {
  margin-bottom: 2em;
  width: 40%;
}
.logo-box {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.logo {
  max-width: 60%;
}
sup {
    position: relative;
    font-size: 40%;
    line-height: 0;
    font-weight: 400;
    vertical-align: revert;
}

@media only screen  and (min-width : 1224px) {
  /* Styles */
  .logo-box {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
  .logo {
    max-width: 20%;
  }
  }